<h3>Adding/Deleting/Updating Table: </h3>
<ngx-custom-data-table [uniqKey]="uniqParam" [tableList]="items" [tableKeysList]="itemObj"
  (confirmAdd)="addNewItem($event)" (confirmUpdate)="updateItem($event)" (confirmDelete)="deleteItem($event)">
</ngx-custom-data-table>
<br>
<br>
<h3>Select a Table row: </h3>
<ngx-custom-data-table [showRadioInRows]="true" (selectedValueEmit)="radioSelectedValue($event)" [uniqKey]="uniqParam"
  [keyOptional]="true" [tableList]="items" [tableKeysList]="itemObj" (confirmAdd)="addNewItem($event)"
  (confirmUpdate)="updateItem($event)" (confirmDelete)="deleteItem($event)">
</ngx-custom-data-table>
<br>
<br>
<h3>Select and Save Multiple Table rows: </h3>
<ngx-custom-data-table [btnContents]="btnObj" [noActions]="true" [showCheckBox]="true" [uniqKey]="uniqParam"
  [tableList]="items" [tableKeysList]="itemObj" (closeDialog)="unSelectChosenValues()"
  (saveChoosenValues)="choosenValues($event)">
</ngx-custom-data-table>
<br>
<br>
<h3>Sort table in Descending order based on particular column </h3>
<ngx-custom-data-table [noActions]="true" (selectInfoEmit)="showInfoDetails($event)" [uniqKey]="uniqParam"
  [sortOrder]="-1" [sortKey]="'createdDate'" [tableList]="items2" [tableKeysList]="itemObj2"
  (selectedLinkEmit)="linkClick($event)">
</ngx-custom-data-table>

<br>
<br>
<h3>Hide a Column </h3>
<ngx-custom-data-table [noActions]="true" (selectInfoEmit)="showInfoDetails($event)" [uniqKey]="uniqParam"
  [sortOrder]="-1" [sortKey]="'createdDate'" [tableList]="items2" [tableKeysList]="itemObj2"
  (selectedLinkEmit)="linkClick($event)">
</ngx-custom-data-table>